body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.header a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

#section1 {
    margin: 200px 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.imagem img{
    border-radius: 50%;
    width: 300px;
}

.nome {
    max-width: 100%;
    font-size: 80px;
    padding: 10px;
    color: white;
}

.local {
    max-width: 90%;
    color: white;
    font-size: 20px;
    display: inline;
}

.descricao {
    color: white;
    font-size: 20px;
}

.icons {
    max-width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icons a img {
    height: 50px;
    padding: 10px 0 0 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(2%) hue-rotate(289deg) brightness(103%) contrast(100%);
}

.nome-habilidades {
    margin: 200px auto 200px auto;
    font-size: 90px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}

.habilidades {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.habilidades div {
    border: 2px solid white;
    border-radius: 5%;
    cursor: pointer;
    text-align: center;
}

.habilidades div img {
    margin: 15px 0 0 0;
    height: 150px;
}

.habilidades div p {
    padding: 15px;
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.nome-projetos {
    margin: 200px auto 200px auto;
    font-size: 90px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}

.projetos {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.projetos div {
    border: 2px solid white;
    border-radius: 5%;
    cursor: pointer;
    text-align: center;
    padding: 20px;
}

.projetos div img {
    margin: 15px 0 0 0;
    height: 150px;
}

.projetos div p {
    padding: 15px;
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.arrow {
    filter: brightness(0) saturate(100%) invert(17%) sepia(48%) saturate(3784%) hue-rotate(225deg) brightness(94%) contrast(121%);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    background-color: black;
    padding: 50px;
}

footer p, footer p a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}